<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
            layout="${longdate} | ${level:uppercase=true} | ${message}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target xsi:type="File"
            name="logfile"
            encoding="utf-8"
            fileName="${basedir}/logs/${shortdate}/log-${level:lowercase=true}.log"
            layout="${longdate} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />

    <target xsi:type="File"
            name="loggerlogfile"
            encoding="utf-8"
            fileName="${basedir}/logs/${shortdate}/log-${logger:shortName=true:lowercase=true}-${level:lowercase=true}.log"
            layout="${longdate} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />

    <!--丢弃日记-->
    <target xsi:type="Null" name="blackhole" />

  </targets>
  <rules>
    <!--丢弃微软 Info以下的日记-->
    <logger name="Microsoft.*" maxlevel="Info" writeTo="blackhole" final="true" />

    <!--打印所有开发人员日记 minlevel="Trace" 表示大于等于Trace 级别日记-->
    <logger name="*" minlevel="Info"  writeTo="logfile" />
    <logger name="*" minlevel="Warn" writeTo="console" />

    <!--这个级别只对开发人员调试有价值。这些消息可能包含敏感的应用程序数据，因此不应该在生产环境中启用-->
    <!--<logger name="*" level="Trace"  writeTo="logfile" />-->

    <!--对于在开发和调试过程中具有短期可用性的信息。如果不是出现问题在生产环境一般不建议启用-->
    <!--<logger name="*" level="Debug" writeTo="logfile" />-->

    <!--用于跟踪应用程序，这些日志有长期的价值。-->
    <!--<logger name="*" level="Info" writeTo="logfile" />-->

    <!--用于程序中的异常或意外事件。这些可能包括错误或其他不导致应用程序停止的条件，但是可能需要进行排查-->
    <!--<logger name="*" level="Warn" writeTo="logfile" />-->

    <!--对于不能处理的错误过异常。这些消息表明当前的活动或操作(例如当前的HTTP请求)失败，而不是应用程序范围的失败。-->
    <!--<logger name="*" levels="Error" writeTo="logfile" />-->

    <!--对于那些需要立即关注的失败。示例:磁盘空间中的数据丢失场景。 .net core 中方法 LogCritical -->
    <!--<logger name="*" level="Fatal" writeTo="logfile" />-->
  </rules>
</nlog>